<footer class="text-center text-white" style="background-color: #0a4275;">

    <div class="container p-4 pb-0">

        <section class="">
            <p class="d-lg-flex justify-content-center align-items-center">
                <span class="me-3">REGISTRATE GRATIS</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                 <a th:href="@{/usuario/registrar}" style="text-decoration:none;">
                    Sign up!
                 </a>
                </button>
                <a class="ms-3" href="#">volver arriba</a>
            </p>
        </section>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">eggnoticias.com</a>
    </div>

</footer>